@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager


@if (User.Identity.IsAuthenticated)
{
    
    IdentityUser currentUser = await UserManager.FindByNameAsync(User.Identity.Name);
    
    <a class="nav-link text-dark"  asp-controller="UserProfile" asp-action="UserPage" asp-route-id="@currentUser.Id">
        My Page
    </a>
}
